function command_is_defined() {
	if ! _command_defined="$(type -p "$1")" || [ -z "$1" ]; then
		return 1
	else
		return 0
	fi
}

#VIM!
alias vim='vim -X'
alias vi='vim -X'

#this file
if [ -n "$ZSH_VERSION" ]; then
	alias reloada='. ~/.zshrc'
	export shell='/bin/zsh'
else
	alias reloada='. ~/.bashrc'
	export shell='/bin/bash'
fi

#system functions
alias reboot='sudo shutdown -r now'

#tmux
alias tls='tmux list-sessions'
alias tat='tmux attach -t'
alias tn='tmux new -s'
alias tk='tmux kill-session -t'

#git
alias gt='git status'
alias gp='git push'
alias gcm='git commit -m'
alias gu='git pull'
alias ga='git add'
alias gam='git commit --amend'

#misc
alias pep8='pep8 --ignore=W191'
alias flake8='flake8 --ignore=W191'
alias screen_record='ffmpeg -f x11grab -r 30 -s 1366x768 -i :0.0+0,0 $1'

command_is_defined rustc && export RUST_SRC_PATH="$(rustc --print sysroot)/lib/rustlib/src/rust/src/"

command_is_defined exa && alias ls=exa

command_is_defined pbcopy && alias __copy_x='pbcopy'
command_is_defined pbpaste && alias __paste_x='pbpaste'

command_is_defined xclip && alias __copy_x='xclip -selection -clipboard -i'
command_is_defined xclip && alias __paste_x='xclip -selection -clipboard -o'

command_is_defined jq && alias jv='__paste_x | jq . | nvim -c "set ft=json" -c "set fdm=syntax" -'

alias ff-safe='/Applications/Firefox\ Developer\ Edition.app/Contents/MacOS/firefox --safe-mode --new-instance --profile $(mktemp -d)'

alias public-key='__copy_x < ~/.ssh/id_rsa.pub'

alias docker-delete-old='docker rm $(docker ps -aqf "status = exited" -f "status=created")'

alias realpath="python -c 'import os, sys; print(os.path.realpath(sys.argv[1]))'"
alias localhost.run="ssh -R 80:localhost:$1 ssh.localhost.run"
