[user]
	name = Nate Mara
	email = nate.mara@kroger.com

[push]
	default = simple

[pull]
	rebase = true

[alias]
	# Usage: git total [OPTION...]
	#
	# Options:
	#
	# In theory, the command accepts all command line options supported by
	# the "git log" command. In reality, however, only few commit-limiting
	# options are useful. This includes:
	#
	# --author=PATTERN, --committer=PATTERN
	# Displays the number of lines changed by a certain author.
	#
	# --since=DATE, --after=DATE
	# Counts only commits that are more recent than a specific date.
	#
	# --until=DATE, --before=DATE
	# Counts only commits that are older than a specific date.
	#
	# -n NUMBER, --max-count=NUMBER
	# Counts only a certain number of commits.
	#
	# Examples:
	#
	# git total
	# Displays the total number of changes.
	#
	# git total --author=john@example.com
	# Displays the total number of changes by john@example.com.

	total = "!f() { git log $@ --numstat | perl -ne '$i+=$1 and $d+=$2 if /^(\\d+)\\s+(\\d+)/; END { print \"$i insertion(s), $d deletion(s)\n\"}'; }; f"
	diff = "diff --dir-diff"

[core]
	excludesfile = /Users/nm46057/.gitignore_global
	editor = /usr/bin/vim
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
    tool = meld
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[difftool]
    prompt = false
[commit]
	template = /Users/nm46057/.stCommitMsg
[rebase]
	autoStash = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
